@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Poppins:ital,wght@0,200;0,300;0,400;0,600;1,700&display=swap');

/* font-family: 'Major Mono Display', monospace;
font-family: 'Poppins', sans-serif; */
* {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.decorative {
  font-family: 'Major Mono Display', sans-serif;
}

.prose img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

/* .nav-social-icons {
  background-color: #60a5fa;
  margin: 0.5em;
  font-size: 1em;
  height: 1.2em;
  width: 1.2em;
  line-height: 1.2em;
  text-align: center;
  color: #303030;
  border: 2px solid #303030;
  border-radius: 50%;
  padding: 0.5em;
} */
